<h1>
  <div>Select Portions of the image that contain traversable road</div>
</h1>
<p>The image below was taken at a golf course and has been split into a
 {{gridWidth}} by {{gridHeight}} grid. Please slect the grid areas containing
 at least 50% traversable concrete pathway.</p>
