<form action="https://workersandbox.mturk.com/mturk/externalSubmit" method="POST">
  <input type="hidden" name="assignmentId" value="{{assignmentId}}">
  <input type="hidden" name="answer" id="answer">
  <input type="submit" class="btn btn-primary">
</form>
